@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    display: flex;
    background-image: linear-gradient(rgb(5, 59, 77, 0.9), rgba(109, 124, 129, 0.1)), url('../assets/daniel-ramirez-q4TfWtnz_xw-unsplash.jpg');
    height: 100%;
    width: 100%;
    background-position: 0, 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    font-family: 'Playfair Display', serif;
}

/* Place text in the middle of the image */
.returnDataDisplayBox{
    display: flex;
    align-content: center;
}

.regionSelectBox {
    display: flex;
    justify-content: flex-end;
}

.appTitleBox {
    background-color: linear-gradient(rgb(5, 59, 77, 0.9), rgba(109, 124, 129, 0.1));
    color: #202833;
    display: flex;
    justify-content: center;
}

main p {
    color: #FFE401;
}

.userInputBox {
    display: flex;
    justify-content: center;
}